<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<div th:include="fragments/navbar::navbar"></div>
<main>
    <div class="card">
        <div class="card_header">
            <h2 th:text="${card.name}">Titre</h2>
        </div>
        <div class="grid_1-2">
            <div class="dishes">
                <h3>Les Plats :</h3>
                <div class="dishes_list">
                    <div class="dishes_list_item" th:each="dish : ${card.standaloneDishes}">
                        <h2 th:text="${dish.name}"></h2>
                        <p th:text="${dish.price}"></p>
                        <a class="btn" th:href="@{/dishes/{id}(id=${dish.id})}">Voir</a>
                    </div>
                </div>
            </div>
            <div class="menu">
                <h3>Les Menus :</h3>
                <div class="menu_list">
                    <div class="menu_list_item" th:each="menu : ${card.menus}">
                        <h2 class="dish-title" th:text="${menu.name}">Titre</h2>
                        <a class="btn" th:href="@{/menus/{id}(id=${menu.id})}">Voir</a>
                    </div>
                </div>
            </div>

            <div class="card_footer">
                <a class="btn" th:href="@{/cards/all}">Retour à la liste</a>
                <a class="btn" th:if="${session.admin != null}" th:href="@{/cards/addMenu/{id}(id=${card.id})}" th:style="'background-color:' + ${restaurant.secondaryColor} + '; color:' + ${restaurant.fontColor}">Ajouter
                    un menu à la carte</a>
                <a th:href="@{/cards/addDish/{id}(id=${card.id})}"
                   th:style="'background-color:' + ${restaurant.secondaryColor} + '; color:' + ${restaurant.fontColor}"
                   class="btn">Ajouter un plat à la carte</a>
            </div>
        </div>
    </div>
</main>
<div th:include="fragments/footer::footer" id="footer"></div>
</body>
</html>
