<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/js/script.js"></script>
</head>
<body>
<div th:include="fragments/navbar::navbar"></div>
<main class="show">
    <div class="show_side">

        <div class="show_side_header">
            <h1 class="dish-title" th:text="${dish.name}"></h1>
            <h3>Créé par <span th:text="${restaurant.name}"></span></h3>
            <p class="dish-price">Prix : <b th:text="${dish.price}">Non défini</b> Euros</p>
        </div>
        <div class="show_side_buttons">
            <a class="btn" th:href="@{/dishes/all}">Retour à la liste</a>
            <a href="#" onclick="toggleForm()" class="btn">Écrire un avis</a>
            <a th:href="@{/dishes/edit/{id}(id=${dish.id})}" class="btn">Edit dish</a>
        </div>
        <div class="show_side_body">
            <p th:text="${dish.description}"></p>
        </div>
        <div class="show_side_allergies">
            <h3>Allergies:</h3>
            <ul>
                <li th:each="allergy : ${dish.allergies}" th:text="${allergy.name}"></li>
            </ul>
        </div>


        <div class="review" id="review-form">
            <h3>Rédiger un avis</h3>
            <form th:action="@{/reviews/save}" class="form" th:object="${review}" th:method="post">
                <input type="hidden" name="dishId" th:value="${dish.id}"/>
                <div class="grid_2-2">
                    <div>
                        <label for="authorFirstName" class="form_label">
                            Nom :
                        </label>
                        <input type="text" class="form_input" id="authorFirstName" name="authorFirstName"
                               th:field="*{authorFirstName}" required>
                    </div>
                    <div>
                        <label for="authorLastName" class="form_label">
                            Prénom :
                        </label>
                        <input type="text" class="form_input" id="authorLastName" name="authorLastName"
                               th:field="*{authorLastName}" required>
                    </div>
                    <div>
                        <label for="email" class="form_label">
                            Email :
                        </label>
                        <input type="email" class="form_input" id="email" name="email"
                               th:field="*{email}">
                    </div>
                    <div>
                        <label class="form_label">
                            Note :
                        </label>
                        <div class="rating">
                            <input id="star5" name="rating" type="radio" value="5" class="radio-btn hide"/>
                            <label for="star5">☆</label>
                            <input id="star4" name="rating" type="radio" value="4" class="radio-btn hide"/>
                            <label for="star4">☆</label>
                            <input id="star3" name="rating" type="radio" value="3" class="radio-btn hide"/>
                            <label for="star3">☆</label>
                            <input id="star2" name="rating" type="radio" value="2" class="radio-btn hide"/>
                            <label for="star2">☆</label>
                            <input id="star1" name="rating" type="radio" value="1" class="radio-btn hide"/>
                            <label for="star1">☆</label>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="grid_span_col_2">
                        <label for="comment" class="form_label">
                            Commentaire :
                        </label>
                        <textarea style="width: 100%;" class="form_input" id="comment" name="comment"></textarea>
                    </div>

                </div>

                <div class="grid_1-2">
                    <button type="submit" class="btn-success">Enregistrer l'avis</button>
                    <button type="reset" class="btn-danger">Réinitialiser l'avis</button>
                </div>
            </form>
        </div>
    </div>
    <div class="show_image">
        <img th:src="@{/images/common/{filename}(filename=${dish.image})}"/>
    </div>
</main>
<div th:include="fragments/footer::footer" id="footer"></div>
</body>
</html>