<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<div th:include="fragments/navbar::navbar"></div>
<main class="show">
    <div class="show_center">
        <div class="show_center_header">
            <h2 class="dish-title" th:text="${menu.name}">Titre</h2>
        </div>
        <div class="show_center_content">
            <div th:each="dish : ${menu.dishes}">
                <div class="show_center_content_item">
                    <h2 class="dish-title" th:text="${dish.name}"></h2>
                    <p class="dish-price">Euros : <b th:text="${dish.price}">Non défini</b></p>
                    <a class="btn" th:href="@{/dishes/{id}(id=${dish.id})}">Voir</a>
                </div>
            </div>
        </div>
        <div class="show_center_footer">
            <a class="btn" th:href="@{/menus/all}">Retour à la liste</a>
            <a class="btn-success" th:if="${session.admin != null}" th:href="@{/menus/{id}/addDish(id=${menu.id})}">Ajouter
                un plat au menu</a>
            <a th:href="@{/menus/edit/{id}(id=${menu.id})}" th:if="${session.admin != null}" class="btn">Modifier le menu</a>
        </div>
    </div>
</main>
<div th:include="fragments/footer::footer"></div>
</body>
</html>