<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<div th:include="fragments/navbar::navbar"></div>
<main>
    <div class="card">
        <div class="card_header">
            <h2 class="dish-title" th:text="${card.name}">Title</h2>
        </div>
        <div class="card_footer">
            <a class="btn" th:href="@{/cards/all}">Back to list</a>
            <a class="btn-success" th:if="${session.admin != null}" th:href="@{/cards/{id}/addDish(id=${card.id})}">Add
                dish to card</a>
            <a th:href="@{/cards/addDish/{id}(id=${card.id})}"
               th:style="'background-color:' + ${restaurant.secondaryColor} + '; color:' + ${restaurant.fontColor}"
               class="btn">Ajouter un plat à la carte</a>
        </div>
    </div>
</main>
<div th:include="fragments/footer::footer"></div>
</body>
</html>
