<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add/Edit Card</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <div th:include="fragments/navbar::navbar"></div>
        <main>
            <form action="#" th:action="@{/cards/save}" th:object="${card}" th:method="post" class="form">
                <input type="hidden" th:field="*{id}"/>
                <div>
                    <label class="form_label" for="name">Nom de la carte :</label>
                    <input class="form_input" type="text" id="name" th:field="*{name}" required/>
                </div>
                <button type="submit" class="btn-success">Enregistrer</button>
            </form>
        </main>
    </div>

        <div th:include="fragments/footer::footer" id="footer"></div>
</div>
</body>
</html>
