<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<div th:include="fragments/navbar::navbar"></div>
<main>
    <form action="#" th:action="@{/menus/addDishToMenu}" th:object="${dish}" th:method="post" class="form" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" name="menuId" th:value="${menu.id}">
        <div>
            <label class="form_label" for="name">Dish Name:</label>
            <input class="form_input" type="text" id="name" th:field="*{name}" required/>
        </div>
        <div>
            <label class="form_label" for="price">Price:</label>
            <input class="form_input" type="number" id="price" th:field="*{price}" required/>
        </div>
        <div>
            <label class="form_label" for="description">Description:</label>
            <textarea class="form_input" id="description" th:field="*{description}" required minlength="5" maxlength="200"></textarea>
        </div>
        <div>
            <label class="form_label" for="image">Image:</label>
            <input type="file" id="image" accept="image/png, image/jpeg" name="image"/>
        </div>
        <button type="submit" class="btn">Save</button>
    </form>
</main>
<div th:include="fragments/footer::footer"></div>
</body>
</html>