<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add/Edit Persona</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>
<body>
<h2>Add/Edit Persona</h2>
<form action="#" th:action="@{/personas/save}" th:object="${persona}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label for="mainColor">Main Color:</label>
        <select id="mainColor" th:field="*{mainColor}" required>
            <option value="">Choose a color</option>
            <option value="rgb(255, 0, 0)">Red</option>
            <option value="rgb(0, 255, 0)">Green</option>
            <option value="rgb(0, 0, 255)">Blue</option>
        </select>
    </div>
    <div>
        <label for="secondaryColor">Secondary Color:</label>
        <select id="secondaryColor" th:field="*{secondaryColor}" required>
            <option value="">Choose a color</option>
            <option value="rgb(255, 0, 0)">Red</option>
            <option value="rgb(0, 255, 0)">Green</option>
            <option value="rgb(0, 0, 255)">Blue</option>
        </select>
    </div>
    <div>
        <label for="linkColor">Link Color:</label>
        <select id="linkColor" th:field="*{linkColor}" required>
            <option value="">Choose a color</option>
            <option value="rgb(255, 0, 0)">Red</option>
            <option value="rgb(0, 255, 0)">Green</option>
            <option value="rgb(0, 0, 255)">Blue</option>
        </select>
    </div>
 <!--   <div>
        <label for="headerImage">Header Image:</label>
        <input type="file" id="headerImage" accept="image/png, image/jpeg" th:field="*{headerImage}" required/>
    </div>-->
    <div>
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>
