<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<div th:include="fragments/navbar::navbar"></div>
<main>
    <form action="#" th:action="@{/cards/addDishToCard}" th:object="${dish}" th:method="post" class="form">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label class="form_label" for="name">Dish Name:</label>
            <input class="form_input" type="text" id="name" th:field="*{name}" required/>
        </div>
        <div>
            <label class="form_label" for="price">Price:</label>
            <input class="form_input" type="number" id="price" th:field="*{price}" required/>
        </div>
        <div>
            <label class="form_label" for="description">Description:</label>
            <textarea id="description" th:field="*{description}" required minlength="5" maxlength="100">
        </textarea>
        </div>
        <div>
            <label class="form_label" for="image">Image:</label>
            <input class="form_input" type="file" id="image" accept="image/png, image/jpeg" th:field="*{image}" required/>
        </div>
        <input type="hidden" name="cardId" th:value="${card.id}">
        <button type="submit" class="btn-success">Save</button>
    </form>
</main>
<div th:include="fragments/footer::footer"></div>
</body>
</html>