<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<form action="#" th:action="@{/menus/addDishToMenu}" th:object="${dish}" th:method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label for="name">Dish Name:</label>
        <input type="text" id="name" th:field="*{name}" required/>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" th:field="*{price}" required/>
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea id="description" th:field="*{description}" required minlength="5" maxlength="100">
        </textarea>
    </div>
    <div>
        <label for="image">Image:</label>
        <input type="file" id="image" accept="image/png, image/jpeg" th:field="*{image}" required/>
    </div>
    <input type="hidden" name="menuId" th:value="${menu.id}">
    <input type="submit" value="Submit"/>
</form>

</body>
</html>