<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="dashboard-navbar">
    <nav class="vertical-navbar" th:style="'background-color:' + ${restaurant.mainColor} + '; color:' + ${restaurant.fontColor}">
        <div class="vertical-navbar_header">
            <h3>Tableau de bord</h3>
        </div>
        <ul class="vertical-navbar_nav">
            <li class="vertical-navbar_nav_link">
                <a class="vertical-navbar_nav_link_item" th:href="@{/cards/all}">Cart</a>
            </li>
            <li class="vertical-navbar_nav_link">
                <a class="vertical-navbar_nav_link_item" th:href="@{/menus/all}">Menus</a>
            </li>
            <li class="vertical-navbar_nav_link">
                <a class="vertical-navbar_nav_link_item" th:href="@{/dishes/all}">Plats</a>
            </li>
            <li class="vertical-navbar_nav_link">
                <a class="vertical-navbar_nav_link_item" th:href="@{/restaurant/settings}">Paramètres</a>
            </li>
        </ul>
    </nav>
</div>
</html>
