<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer class="footer"
            th:style="'background-color:' + ${restaurant.mainColor} + '; color:' + ${restaurant.fontColor}">
        <div class="footer_container">
            <h5><span th:text="${restaurant?.name ?: 'Mon Restaurant'}"></span></h5>
            <p>Tous droits réservés</p>
            <p>Développé par <a href="https://www.linkedin.com/in/jerome-greder/" target="_blank">Jérôme Greder</a></p>
            <p>Avec Jetbrains <br> IntelliJ IDEA</p>
        </div>
        <div class="footer_container">
            <h5>Contact :</h5>
            <address>
                <p>Adresse : <span th:text="${restaurant?.fullAddress ?: 'Inconnue'}"></span></p>
                <p>Téléphone : <span th:text="${restaurant?.phone ?: 'Inconnu'}"></span></p>
                <p>Email : <span th:text="${restaurant?.email ?: 'Inconnu'}"></span></p>
            </address>
        </div>
    </footer>
</div>
</html>