<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="navbar" class="header">

    <nav class="header_nav"
         th:style="'background-color:' + ${restaurant.mainColor} + '; color:' + ${restaurant.fontColor}">
        <a th:href="@{/restaurant/}" class="logo header_nav_bar_link_item"
           th:text="${restaurant?.name ?: 'My Restaurant'}"></a>
        <div th:if="${restaurant.isConfigured}">
            <ul class="header_nav_bar">
                <li class="header_nav_bar_link">
                    <a class="header_nav_bar_link_item" th:href="@{/restaurant/}">Accueil</a>
                </li>
                <li class="header_nav_bar_link">
                    <a class="header_nav_bar_link_item" th:href="@{/restaurant/card}">Nos selections</a>
                </li>
                <li class="header_nav_bar_link">
                    <a class="header_nav_bar_link_item" th:href="@{/restaurant/about}">À propos</a>
                </li>
                <li class="header_nav_bar_link" th:if="${session.admin != null}">
                    <a class="header_nav_bar_link_item" th:href="@{/restaurant/settings}">Tableau de bord</a>
                </li>
            </ul>
        </div>

        <ul class="header_nav_bar_side">

            <li class="header_nav_bar_link" th:unless="${session.admin != null}">
                <a class="header_nav_bar_link_item" th:href="@{/restaurant/login-page}">Connexion</a>
            </li>
            <li class="header_nav_bar_link" th:if="${session.admin != null}">
                <a class="header_nav_bar_link_item" th:href="@{/restaurant/logout}">Déconnexion</a>
            </li>
        </ul>
    </nav>
</header>
</html>
