<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${restaurant?.name + ' - acceuil' ?: 'Mon Restaurant'}"></title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
<div th:include="fragments/navbar::navbar"></div>
<main class="index">
    <div class="index_top">
        <div class="index_top_header">
            <img th:src="@{/images/front/{filename}(filename=${restaurant.imagePath})}"/>
        </div>
        <div class="index_top_header">
            <h1>Bienvenue chez <span th:text="${restaurant?.name ?: 'Mon Restaurant'}"></span></h1>
            <h3>Découvrez le meilleur <br> de la gastronomie.</h3>
            <p>Vivez une expérience culinaire exceptionnelle. <br>
                Des plats savoureux préparés avec soin par nos talentueux chefs. <br>
                Des ingrédients frais et de saison sublimés pour une explosion de saveurs.</p>
        </div>
    </div>
    <div class="index_content">
        <div class="index_content_carrousel">
            <div th:each="review : ${reviews}">
                <div class="review_show-case" th:style="'background-color:' + ${restaurant.secondaryColor} + '; color:' + ${restaurant.fontColor}">
                    <img th:src="@{/images/common/{filename}(filename=${review.dish.image})}"/>
                    <div class="review_show-case_header">
                        <h2 th:text="${review.dish.name}"></h2>
                        <p>5 stars out of: <span th:text="${review.rating}"></span></p>
                    </div>
                    <div class="rating" th:attr="data-rating=${review.rating}">
                    </div>
                    <p><strong th:text="${review.authorFirstName} + ' ' + ${review.authorLastName}"></strong></p>
                    <p th:text="${review.comment}"></p>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:include="fragments/footer::footer"></div>
</body>
</html>