<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>
<body>
<div th:include="fragments/navbar::navbar"></div>
<div th:include="fragments/dashboard-navbar::dashboard-navbar"></div>
<div class="list">
    <div th:each="card : ${cards}" class="card-preview">
        <div th:text="${card.name}"></div>
        <a th:href="@{/cards/{id}(id=${card.id})}">Show</a>
    </div>
</div>
<div th:include="fragments/footer::footer"></div>
</body>
</html>