<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>
<body>
<div th:include="fragments/navbar::navbar"></div>
<main class="dashboard-grid">
    <div th:include="fragments/dashboard-navbar::dashboard-navbar"></div>
    <div class="list">
        <div class="list_header">
            <h3>Cartes:</h3>
            <a class="btn" th:href="@{/cards/add}">Ajouter une carte</a>
        </div>
        <div class="list_column">
            <div th:each="card : ${cards}" class="list_column_element">
                <h3>Nom de la carte: <span th:text="${card.name}"></span></h3>
                <a class="btn" th:href="@{/cards/{id}(id=${card.id})}">Details</a>
            </div>
        </div>
    </div>
</main>
<div th:include="fragments/footer::footer"></div>
</body>
</html>