<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<div th:include="fragments/navbar::navbar"></div>
<main class="column-grid">
    <div class="list">
        <div class="list_header">
            <h3>Menus:</h3>
            <a class="btn" th:href="@{/menus/add}">Ajouter un menu</a>
        </div>
        <div class="list_column">
            <div th:each="menu : ${menus}" class="list_column_element">
                <h4 th:text="${menu.name}"></h4>
                <a class="btn" th:href="@{/menus/{id}(id=${menu.id})}">Show</a>
            </div>
        </div>
    </div>
</main>
<div th:include="fragments/footer::footer"></div>
</body>
</html>