@import "button";
@import "colors";
@import "header";
@import "input";

body {
  margin: 0;
}

main {
  padding: 2rem;
}


.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #000;
  margin: 0;
  padding: 1rem;
  color: #fff;
}