.btn, .btn-select, .btn-info, .btn-warning, .btn-danger, .btn-success, .btn-primary {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: #212121;
  color: white;
  margin: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  transition: all 0.3s ease-in-out;
  border: none;
}
.btn:hover, .btn-select:hover, .btn-info:hover, .btn-warning:hover, .btn-danger:hover, .btn-success:hover, .btn-primary:hover {
  transition: all 0.3s ease-in-out;
  background: #080808;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background: #1D7A9C;
}
.btn-primary:hover {
  background: #155871;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-success {
  background: #00C851;
}
.btn-success:hover {
  background: #00953c;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-danger {
  background: #ff4444;
}
.btn-danger:hover {
  background: #ff1111;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-warning {
  background: #ffbb33;
}
.btn-warning:hover {
  background: #ffaa00;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-info {
  background: #33b5e5;
}
.btn-info:hover {
  background: #1a9bcb;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-select {
  background: #4C16BF;
}
.btn-select:hover {
  background: #3a1191;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.header_nav {
  padding: 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content 1fr max-content;
  width: 100%;
}
.header_nav .logo {
  place-self: center start;
  font-size: 1.5rem;
}
.header_nav_bar {
  margin-left: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}
.header_nav_bar_link {
  width: fit-content;
  list-style: none;
}
.header_nav_bar_link_item:link, .header_nav_bar_link_item:visited {
  text-underline: none;
  color: inherit;
}

.vertical-navbar {
  padding: 1rem;
  border-radius: 0.25rem;
  width: fit-content;
  height: fit-content;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
}
.vertical-navbar_header {
  margin-top: 0;
  text-align: center;
}
.vertical-navbar_nav {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 12rem;
}
.vertical-navbar_nav_link {
  width: 100%;
  text-align: center;
  list-style: none;
}
.vertical-navbar_nav_link_item:link, .vertical-navbar_nav_link_item:visited {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  text-underline: none;
  color: inherit;
}

.form {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  width: fit-content;
  height: fit-content;
  margin: 1rem auto;
}
.form_label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  text-align: left;
}
.form_input {
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  height: 2rem;
  background: #f5f5f5;
  transition: all 0.5s ease-in-out;
}
.form_input:hover {
  transition: all 0.5s ease-in-out;
  scale: 1.05;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.form_input:focus {
  scale: 1.05;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.rating {
  width: 200px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}
.rating input[type=radio] {
  display: none;
}
.rating input[type=radio]:checked ~ label {
  color: #fe7;
  transition: color 0.4s;
}
.rating label {
  color: #ccc;
  font-size: 30px;
  transition: color 0.4s;
  cursor: pointer;
}
.rating label:hover ~ input:checked ~ label, .rating label:hover {
  color: #deb217;
}
.rating label:active {
  transform: scale(1.3);
  transition: transform 0.2s;
}
.rating div.clear {
  clear: both;
}

body {
  margin: 0;
  font-family: "SF Pro", sans-serif;
}

main {
  padding: 2rem;
  height: 100%;
}

a:link, a:visited {
  text-decoration: none;
}

.footer {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  position: relative;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 1rem;
}
.footer_container {
  width: 100%;
  max-width: 10rem;
}
.footer_container h5 {
  margin-top: 0;
}
.footer_container a {
  color: inherit;
}

.grid_2-3 {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}
.grid_1-2 {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  justify-content: center;
  align-items: center;
}
.grid_2-2 {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-items: center;
}
.grid_2-1 {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-items: center;
}
.grid_1-3 {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(1, auto);
  justify-content: center;
  align-items: center;
}
.grid_span_col_2 {
  grid-column: span 2;
}

.column-grid {
  display: grid;
  gap: 8rem;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  align-items: center;
}

.list {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
}
.list_header {
  margin-bottom: 10px;
}
.list_column {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  max-height: 20rem;
  overflow: auto;
}
.list_column_element {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.25rem;
  padding: 2rem;
}

.about {
  text-align: center;
}
.about_header {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.about_header span {
  text-decoration: none;
}
.about_header span:hover {
  text-decoration: underline;
}
.about_content {
  display: grid;
  align-content: center;
  justify-content: center;
}
.about_content_description {
  place-self: center;
  max-width: 20rem;
  line-break: auto;
}
.about_content_image-row {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  align-items: center;
}
.about_content_image-row img {
  width: 300px;
  height: 250px;
  border-radius: 0.5rem;
  transition: all 1s ease-in-out;
  object-fit: cover;
}
.about_content_image-row img:hover {
  transition: all 1s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.index {
  display: grid;
  gap: 2rem;
  text-align: center;
}
.index_top {
  display: grid;
  gap: 2rem;
}
.index_top_header span {
  text-decoration: none;
}
.index_top_header span:hover {
  text-decoration: underline;
}

.login {
  padding: 0;
  display: grid;
  gap: 2rem;
  text-align: center;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
}
.login_side {
  place-self: center;
}
.login_image {
  place-self: center;
}
.login_image img {
  width: auto;
  height: 650px;
  object-fit: cover;
}

.review {
  display: none;
}
.review_show-case {
  display: block;
  padding: 1rem;
  border-radius: 0.25rem;
  color: inherit;
  width: 20rem;
  height: fit-content;
  text-align: left;
}
.review_show-case_header {
  margin-top: 0.25rem;
  display: grid;
  justify-content: left;
  grid-template-columns: auto auto;
  grid-auto-columns: max-content;
  gap: 1rem;
}
.review_show-case_header p, .review_show-case_header h2 {
  place-self: center;
  margin: 0;
}
.review_show-case p {
  margin-bottom: 0;
}
.review_show-case img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.25rem;
}

.show-form {
  display: block;
}

.show {
  padding: 0;
  display: grid;
  text-align: left;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
}
.show_side {
  padding: 3rem;
  overflow: auto;
  height: 30rem;
}
.show_side_buttons {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}
.show_side_buttons a {
  margin: 0;
}
.show_side_body {
  height: fit-content;
  overflow: auto;
  margin-top: 2rem;
}
.show_image img {
  width: auto;
  height: 650px;
  object-fit: cover;
}

.index {
  padding: 0;
}
.index_top_header h1 {
  margin-top: 0;
}
.index_top_header img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.index_content_carrousel {
  display: grid;
  grid-auto-flow: column;
  gap: 4rem;
  grid-auto-columns: max-content;
  justify-content: center;
  margin: 2rem 0 2rem 0;
}

.selection {
  padding-top: 0;
  padding-bottom: 0;
  display: grid;
  justify-content: left;
  grid-template-columns: auto auto;
  margin-left: 10rem;
}
.selection_side {
  place-self: start center;
  display: grid;
}
.selection_side_buttons {
  margin-top: 1rem;
  place-self: start;
}
.selection_side_buttons a {
  margin: 0;
}
.selection_side_content {
  width: 25rem;
  word-break: break-word;
}
.selection_images img {
  width: auto;
  height: 650px;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
