.btn, .btn-select, .btn-info, .btn-warning, .btn-danger, .btn-success, .btn-primary {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: #212121;
  color: white;
  margin: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  transition: all 0.3s ease-in-out;
  border: none;
}
.btn:hover, .btn-select:hover, .btn-info:hover, .btn-warning:hover, .btn-danger:hover, .btn-success:hover, .btn-primary:hover {
  transition: all 0.3s ease-in-out;
  background: #080808;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background: #1D7A9C;
}
.btn-primary:hover {
  background: #155871;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-success {
  background: #00C851;
}
.btn-success:hover {
  background: #00953c;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-danger {
  background: #ff4444;
}
.btn-danger:hover {
  background: #ff1111;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-warning {
  background: #ffbb33;
}
.btn-warning:hover {
  background: #ffaa00;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-info {
  background: #33b5e5;
}
.btn-info:hover {
  background: #1a9bcb;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-select {
  background: #4C16BF;
}
.btn-select:hover {
  background: #3a1191;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.header_nav {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
}
.header_nav .logo {
  place-self: center start;
  font-size: 1.5rem;
}
.header_nav_bar {
  margin-left: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}
.header_nav_bar_link {
  width: fit-content;
  list-style: none;
}
.header_nav_bar_link_item:link, .header_nav_bar_link_item:visited {
  text-underline: none;
  color: inherit;
}

.dashboard {
  padding: 1rem;
  border-radius: 0.25rem;
  width: fit-content;
  height: fit-content;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
}
.dashboard_header {
  margin-top: 0;
  text-align: center;
}
.dashboard_nav {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 12rem;
}
.dashboard_nav_link {
  width: 100%;
  text-align: center;
  list-style: none;
}
.dashboard_nav_link_item:link, .dashboard_nav_link_item:visited {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  text-underline: none;
  color: inherit;
}

.form {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  width: fit-content;
  height: fit-content;
  margin: 1rem auto;
}
.form_label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  text-align: left;
}
.form_input {
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  height: 2rem;
  background: #f5f5f5;
  transition: all 0.5s ease-in-out;
}
.form_input:hover {
  transition: all 0.5s ease-in-out;
  scale: 1.05;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.form_input:focus {
  scale: 1.05;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: "SF Pro", sans-serif;
}

main {
  padding: 2rem;
}

a:link, a:visited {
  text-decoration: none;
}

.footer {
  display: grid;
  gap: 4rem;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 1rem;
}
.footer_container {
  width: 100%;
  max-width: 10rem;
}
.footer_container a {
  color: inherit;
}

.grid_2-3 {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}
.grid_1-2 {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  justify-content: center;
  align-items: center;
}
.grid_2-2 {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-items: center;
}
.grid_2-1 {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  justify-content: center;
  align-items: center;
}

.dashboard-grid {
  display: grid;
  gap: 8rem;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  align-items: center;
}

.list {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
}
.list_header {
  margin-bottom: 10px;
}
.list_column {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  max-height: 20rem;
  overflow: auto;
}
.list_column_element {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.25rem;
  padding: 2rem;
}

/*# sourceMappingURL=style.css.map */
