@import "button";
@import "colors";
@import "header";
@import "input";

body {
  margin: 0;
  font-family: "SF Pro", sans-serif;
}

main {
  padding: 2rem;
}

a:link, a:visited {
  text-decoration: none;
}

.footer {
  display: grid;
  gap: 4rem;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 1rem;

  &_container {
    width: 100%;
    max-width: 10rem;

    a {
      color: inherit;
    }
  }
}

.grid {
  &_2-3 {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
  }

  &_1-2 {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }

  &_2-2 {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
  }

  &_2-1 {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

.dashboard-grid {
  display: grid;
  gap: 8rem;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  align-items: center;
}

.list {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  &_header {
    margin-bottom: 10px;
  }
  &_column {
    display: grid;
    gap: 1rem;
    grid-auto-flow: row;
    max-height: 20rem;
    overflow: auto;

    &_element {
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 0.25rem;
      padding: 2rem;
    }
  }
}